#!/bin/bash
#Configuration File for synctorrents.sh: https://github.com/Logvin/synctorrents/
#---------------------------------------------------------
#Variable Names
#---------------------------------------------------------
#appName - What you want to call this script
appName="ExtractAndTransfer"
 
#---------------------------------------------------------
#Directory locations
#---------------------------------------------------------
#baseDir is the directory where the application is installed to.
baseDir="/home/user/scripts/$appName/"
  
#Location where your download client stores files after they are done downloading
finishedDownloadPath="/home/user/deluge/completed"
  
#stagedForTransfer is the directory that is staged and transfered from the seedbox at the end of the script.
stagedForTransfer="/home/user/deluge/staging"
  
#---------------------------------------------------------
#File locations
#---------------------------------------------------------
#Lock File - A temporary file that prevents the script from running multiple times
lockFileLocation="$baseDir/$appName.lock"
  
#location of the rsync password file
rsync_pass="$baseDir/rsync_pass"

#---------------------------------------------------------
#Log Files
#---------------------------------------------------------
#movedFileHistory is the running list of files that have been copied by this script, to prevent re-copying.
movedFileHistory="$baseDir/logs/movedFileHistory.log"

#Location where the log file should be
logFile="$baseDir/logs/$appName.log"

#Location for the rsync log file
rsyncLogFile="$baseDir/logs/rsyncLog.log"

#cron log file location
cronLog="$baseDir/logs/cronlog.log"

#This script will roll off old log files. How long do you want to keep them? Default is 15 days.
logDays="15"

#---------------------------------------------------------
#Other Variables
#---------------------------------------------------------
#fileTypes is an array of the different file types you want to scan for. Case does not matter.
fileTypes[0]="mkv" fileTypes[1]="avi" fileTypes[2]="mp4" fileTypes[3]="m4v" fileTypes[3]="rar"

#Remote Host is the IP address or DNS name of your remote rsync server where you want to transfer completed downloads
remote_host="123.123.123.123"

#Login that you created in your remote rsync server daemon
remote_login=rsync
